body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

footer {
  text-align: center;
}

/* The Modal (background) */
.lightbox-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.lightbox-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 80%;
  max-width: 70%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox-content img {
  display: block;
}

.portrait {
  height: 100%;
  margin: 0 auto;
}

.landscape {
  width: 100%;
  margin: 0 auto;
}

.square {
  height: 100%;
  margin: 0 auto;
}

.grid-image {
  cursor: pointer;
}

.grid-image:hover {
  opacity:0.7;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*.mySlides {
  display: none;
}
*/
/* Next & previous buttons */
#prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  left: -15%;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  right: -15%;
  border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Number text (1/3 etc) */
#numPic {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: -30px;
  left: 50%;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#gallery-info {
  padding: 8% 9%;
  text-align: center;
  color: white;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#gallery {
  overflow: hidden;
  margin: 5% 10%;
}

/*Helps determine number of tiles per row*/
.tile {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

/*Holds image*/
.thumbnail {
  position: absolute;
    left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
}

/*Crops image (gives preview)*/
.crop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop img {
  position: absolute;
    left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*body.no-touch .thumbnail:hover .titleBox, body.touch .thumbnail.touchFocus .titleBox {
   margin-bottom: 0;
}*/

/* Smartphone view: 1 tile */
@media only screen and (max-width : 480px) {
  #next {
    top: 25%;
    right: -25%;
  }
  #prev {
    top: 25%;
    left: -25%;
  }
  .square {
    width: 100%;
    height: auto;
  }
  .portrait {
    width: 100%;
    height: auto;
  }
  .tile {
    width: 100%;
    padding-bottom: 100%;
  }
}
/* Tablet view: 2 tiles */
@media only screen and (max-width : 650px) and (min-width : 481px) {
  #next {
    top: 33.3%;
    right: -20%;
  }
  #prev {
    top: 33.3%;
    left: -20%;
  }
  .square {
    width: 100%;
    height: auto;
  }
  .portrait {
    width: 100%;
    height: auto;
  }
  .tile {
    width: 50%;
    padding-bottom: 50%;
  }
}
/* Small desktop / tablet view: 3 tiles */
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .tile {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
/* Medium desktop: 4 tiles */
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  .tile {
    width: 25%;
    padding-bottom: 25%;
  }
}