body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: #c3e140;
}

footer {
  color: white;
  text-align: center;
  padding: 40px 0 5px 0;
  background: #4A4A4A;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/* ========= HOMEPAGE ========= */

/* links for "View Demo" and "GitHub Repo" */
.action-links {
  font-size: 1.75em;
}

/* Page content */
.container {
  padding: 3% 15%;
}

/* Cover photo */
#homepage-cover {
  padding: 8% 9%;
  text-align: center;
  color: white;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("../static/images/photo-albums.jpg");
}

/* ========= END HOMEPAGE ========= */

/* ========== LIGHTBOX ========== */

/* Dark background surrounding photo */
.lightbox-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Holds photo and next/prev */
.lightbox-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 80%;
  max-width: 70%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox-content img {
  display: block;
}

/* If photo is portrait, set restricting dimension to height */
.portrait {
  height: 100%;
  margin: 0 auto;
}

/* If photo is portrait, set restricting dimension to width */
.landscape {
  width: 100%;
  margin: 0 auto;
}

/* If photo is square, set restricting dimension to height (change in media query at smaller devices) */
.square {
  height: 100%;
  margin: 0 auto;
}

/* Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Previous button */
#prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  left: -15%;
  -webkit-user-select: none;
}

/* Next button */
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  right: -15%;
  border-radius: 3px;
}

/* On hover, shade both buttons slightly */
#prev:hover,
#next:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Pic number in gallery (1/3 etc) */
#num-pic {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: -30px;
  left: 50%;
}

/* ========== END LIGHTBOX ========== */


/* ========= DEMO GRID ========= */

/* Back button */
#back-to-home {
    display: none;
    position: absolute;
    margin: 7px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#back-to-home a {
  color: white;
  text-decoration: none;
}

#back-to-home:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#back-to-home:hover a {
  color: black;
  text-decoration: none;
}

/* Holds gallery info and cover photo (source is set dynamically) */
#gallery-info {
  padding: 8% 9%;
  text-align: center;
  color: white;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#gallery-info a {
  color: white;
  overflow-wrap: break-word;
}

/* Holds all dynamically created elements*/
#gallery {
  overflow: hidden;
  margin: 5% 10%;
}

/*Helps determine number of tiles per row (used in media queries) */
.tile {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

/*Holds image*/
.thumbnail {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
}

/*Crops image to square (gives preview)*/
.crop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Gives image hover effect */
.grid-image {
  cursor: pointer;
}

.grid-image:hover {
  opacity:0.7;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}


/* ========= END DEMO GRID ========= */

/* ========= MEDIA QUERIES ======== */

/* Smartphone view: 1 tile */
@media only screen and (max-width : 480px) {
  /* Move next/prev buttons to top 1/4 of screen */
  #next {
    top: 25%;
    right: -25%;
  }
  #prev {
    top: 25%;
    left: -25%;
  }
  /* If image is square, set width to be limiting dimension*/
  .square {
    width: 100%;
    height: auto;
  }
  .portrait {
    width: 100%;
    height: auto;
  }
  .tile {
    width: 100%;
    padding-bottom: 100%;
  }
}
/* Tablet view: 2 tiles */
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Move next/prev buttons to top 1/3 of screen */
  #next {
    top: 33.3%;
    right: -20%;
  }
  #prev {
    top: 33.3%;
    left: -20%;
  }
  /* If image is square, set width to be limiting dimension*/
  .square {
    width: 100%;
    height: auto;
  }
  .portrait {
    width: 100%;
    height: auto;
  }
  .tile {
    width: 50%;
    padding-bottom: 50%;
  }
}
/* Small desktop / tablet view: 3 tiles */
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .tile {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
/* Medium desktop: 4 tiles */
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  .tile {
    width: 25%;
    padding-bottom: 25%;
  }
}